BODY
{
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #383838;
	BACKGROUND-IMAGE: url(../images/calvin2.jpg);
	BACKGROUND-REPEAT: NO-REPEAT;
	BACKGROUND-POSITION: center center;
	BACKGROUND-ATTACHMENT: fixed;
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #858585;
	TEXT-DECORATION: none;
	MARGIN-LEFT: 0;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 0;
	MARGIN-RIGHT: 0;
	SCROLLBAR-ARROW-COLOR: #383838;
    SCROLLBAR-TRACK-COLOR: #808080;
    SCROLLBAR-BASE-COLOR: #808080;
	SCROLLBAR-SHADOW-COLOR: #383838;
  	SCROLLBAR-HIGHLIGHT-COLOR: #C0C0C0;
  	SCROLLBAR-3DLIGHT-COLOR: #C0C0C0;
}
FONT
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #858585;
	TEXT-DECORATION: none;
}
A:link
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #858585;
	TEXT-DECORATION: none;
}
A:visited
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #858585;
	TEXT-DECORATION: none;
}
A:active
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #C0C0C0;
	TEXT-DECORATION: none;
}
A:hover
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	COLOR: #C0C0C0;
	TEXT-DECORATION: none;
}
TD
{
	BACKGROUND-COLOR: #383838;
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
    FONT-SIZE: 8pt;
}
TABLE.structure
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
	FONT-SIZE: 8pt;
	BORDER : thin solid #383838;
}	

TD.topbar
{
	BACKGROUND-COLOR: #383838;
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
   	FONT-SIZE: 8pt;
}	

TD.leftbar
{
	BACKGROUND-COLOR: #383838;
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
    FONT-SIZE: 8pt;
}

TD.mainwin
{
	FONT-FAMILY: BatmanForeverAlternate, Verdana, Arial, Helvetica;
    FONT-SIZE: 8pt;
}

.formfield
{
BORDER-RIGHT: #000000 1px solid;
BORDER-TOP: #000000 1px solid;
FONT-SIZE: 8pt;
BORDER-LEFT: #000000 1px solid;
CURSOR: auto;
COLOR: '#000000';
BORDER-BOTTOM: #000000 1px solid;
FONT-FAMILY: BatmanForeverAlternate
}
.formbutton
{
BORDER-RIGHT: #575757 1px solid;
BORDER-TOP: #575757 1px solid;
FONT-SIZE: 8pt;
BORDER-LEFT: #575757 1px solid;
CURSOR: hand;
COLOR: '#000000';
BORDER-BOTTOM: #575757 1px solid;
FONT-FAMILY: BatmanForeverAlternate,Verdana;
BACKGROUND-COLOR: '#AEAEAE'
}
