BODY
{
	BACKGROUND-COLOR: #FFFFFF;
	BACKGROUND-IMAGE: url();
	BACKGROUND-REPEAT: NO-REPEAT;
	BACKGROUND-POSITION: center center;
	BACKGROUND-ATTACHMENT: fixed;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #000000;
	TEXT-DECORATION: none;
	MARGIN-LEFT: 0;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 0;
	MARGIN-RIGHT: 0;
	SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #808080;
    SCROLLBAR-BASE-COLOR: #808080;
	SCROLLBAR-SHADOW-COLOR: #000000;
  	SCROLLBAR-HIGHLIGHT-COLOR: #C0C0C0;
  	SCROLLBAR-3DLIGHT-COLOR: #C0C0C0;
}

.menubar
{
	BACKGROUND-COLOR: #333366;
	BACKGROUND-IMAGE: url();
	BACKGROUND-REPEAT: NO-REPEAT;
	BACKGROUND-POSITION: center center;
	BACKGROUND-ATTACHMENT: fixed;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	MARGIN-LEFT: 20;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 0;
	MARGIN-RIGHT: 0;
	SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #808080;
    SCROLLBAR-BASE-COLOR: #808080;
	SCROLLBAR-SHADOW-COLOR: #000000;
  	SCROLLBAR-HIGHLIGHT-COLOR: #C0C0C0;
  	SCROLLBAR-3DLIGHT-COLOR: #C0C0C0;
}

FONT
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	TEXT-DECORATION: none;
}

A:link
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #0066cc;
	TEXT-DECORATION: none;
}

A:visited
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #999999;
	TEXT-DECORATION: none;
}

A:active
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #993300;
	TEXT-DECORATION: none;
}

A:hover
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #C0C0C0;
	TEXT-DECORATION: none;
}

TD
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
}

TABLE.structure
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	BORDER : thin solid #000000;
}

TD.topbar
{
	BACKGROUND-COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
}

TD.leftbar
{
	BACKGROUND-COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
}

TD.mainwin
{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
}

.formfield
{
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-SIZE: 12;
	BORDER-LEFT: #000000 1px solid;
	CURSOR: auto;
	COLOR: '#000000';
	BORDER-BOTTOM: #000000 1px solid;
	FONT-FAMILY: Verdana;
}

.formbutton
{
	BORDER-RIGHT: #575757 1px solid;
	BORDER-TOP: #575757 1px solid;
	FONT-SIZE: 12;
	BORDER-LEFT: #575757 1px solid;
	CURSOR: hand;
	COLOR: '#000000';
	BORDER-BOTTOM: #575757 1px solid;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: ''
}

.cal_hand
{
	cursor: hand;
}

.textbutton
{
	BORDER-RIGHT: #575757 0px solid;
	BORDER-TOP: #575757 0px solid;
	BORDER-BOTTOM: #575757 0px solid;
	BORDER-LEFT: #575757 0x solid;
	FONT-SIZE: 10px;
	CURSOR: hand;
	COLOR: #0000FF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #FFFFFF;
}